parameters:
    level: 9
    scanDirectories:
        - vendor
    stubFiles:
        - phpstan/stubs/CakePHP.stub
    ignoreErrors:
        # False positive as __() function can accept more than 2 parameters.
        - '/Function __ invoked with [0-9_]+ parameters, 1-2 required./'
        - '/Access to an undefined property BehaviorCollection::\$Filtered./'
